@import '../../../variables';
@import '../../thirdPillar/ThirdPillarPayment/Payment.scss';
@import '~bootstrap/scss/bootstrap.scss';

.inputGroup {
  max-width: 200px;
  @include media-breakpoint-down(sm) {
    max-width: unset;
  }
}
