/**
 * Fonts customization
 */

$font-family-sans-serif: 'Roboto', "Segoe UI", "Helvetica Neue", Arial, sans-serif !default;
$font-family-serif: 'Merriweather', Georgia, "Times New Roman", Times, serif !default;
$font-family-monospace: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base: $font-family-sans-serif !default;

/**
 * Colors
 */

$text-primary: #303030;
$text-secondary: rgba(48, 48, 48, 0.64);
$text-hint: rgba(48, 48, 48, 0.32);
$text-secondary-heading: #2a2c2e;

$blue: #0081EE;
$navy-blue: #002F63;
$blue-light: #00AEEA;
$very-light-blue: #EDF7FE;
$blue-washed: #ebf7ff;
$orange: #FF4800;
$yellow: #FCE228;
$green: #51c26c;
$red: #FF0000;
$gray-mid: #d8d8d8;
$gray-washed: #fafafa;
$very-light-gray: rgba(48, 48, 48, 0.32);

/**
 * Brand definitions
 */

$brand-primary: $blue !default;
$brand-success: $green !default;
$body-color: $text-primary !default;

//== Media queries breakpoints
//
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.

// Extra small screen / phone
$screen-xs:                  480px !default;
//** Deprecated `$screen-xs-min` as of v3.2.0
$screen-xs-min:              $screen-xs !default;
//** Deprecated `$screen-phone` as of v3.0.1
$screen-phone:               $screen-xs-min !default;

// Small screen / tablet
$screen-sm:                  768px !default;
$screen-sm-min:              $screen-sm !default;
$screen-tablet:              $screen-sm-min !default;

// Medium screen / desktop
$screen-md:                  992px !default;
$screen-md-min:              $screen-md !default;
$screen-desktop:             $screen-md-min !default;

// Large screen / wide desktop
$screen-lg:                  1224px !default;
$screen-lg-min:              $screen-lg !default;
$screen-lg-desktop:          $screen-lg-min !default;

// Extra large screen / extra wide desktop
$screen-xl:                  1600px !default;
$screen-xl-min:              $screen-xl !default;
$screen-xl-desktop:          $screen-xl-min !default;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;
$screen-lg-max:              ($screen-xl-min - 1) !default;

// TODO: put someplace else
@mixin mobile {
  // mobile < 768px
  @media (max-width: #{$screen-xs-max}) {
	@content;
  }
}

@mixin not-mobile {
  // not-mobile > 768px
  @media (min-width: #{$screen-sm-min}) {
	@content;
  }
}

$fa-font-path: "~font-awesome/fonts";
