/**
 * Here we lay out base styles, like typography and bootstrap customization.
 */

@import "./fonts/index.scss";
@import "variables";
@import "~bootstrap/scss/bootstrap.scss";
@import "~font-awesome/scss/font-awesome.scss";


/**
 * Element overrides
 */

html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body {
  font-size: 16px;
}

button {
  font-family: $font-family-sans-serif;
}

h1, .h1 {
  font-size: 2em;
  font-weight: 400;
  color: $text-primary;
}

h2, .h2 {
  font-size: 1.5em;
  font-weight: 500;
  color: $text-primary;
}

h3, .h3 {
  font-size: 1.25em;
  font-weight: 500;
  color: $text-primary;
}

p, .p {
  line-height: 1.44;
  font-size: 1em;
  font-weight: normal;
  color: $text-primary;

  & .lead {
    font-size: 1.25em;
  }
}

small {
  font-size: 0.875em;
  color: $text-primary;
}

.text-regular {
  font-weight: medium;
}

.form-control::placeholder {
  color: $text-hint;
}

.text-muted {
  color: $text-secondary;
}

.text-bold {
  font-weight: 600;
}

.btn {
  cursor: pointer;
  padding-left: 32px;
  padding-right: 32px;
}

.btn-light {
  color: $blue;
  border: 1px solid $gray-mid;
  background: white;
}

.brand-logo {
  max-width: 150px;
}

.control-code {
  font-size: 5em;
  font-weight: bold;
}

hr {
  border-color: $gray-mid;
  background-color: white;
  margin: 0;
  padding: 0;
}

.custom-select {
  width: 100%;
}

.alert {
  border: solid 2px $gray-mid;
  border-radius: 8px;

  &-success {
    background-color: rgba(11, 250, 67, 0.08);
    border-color: $green;
  }
}

.card {
  margin-right: -$grid-gutter-width/2;
  margin-left: -$grid-gutter-width/2;
  border-radius: 8px;

  &-primary {
    border-color: $blue-light;
    background-color: $very-light-blue;
  }
}
