@import "../../variables";

.second-pillar-upsell .badge-orange {
  background: rgba(255, 72, 0, 0.20);
  color: $orange;
  font-weight: normal;
  padding: 0.5em 0.8em;
  vertical-align: text-bottom;
}

.small-bullet-list {
  list-style-type: '\2022   ';
}

.second-pillar-upsell .text-orange {
  color: $orange;
}
