@import "../../variables";

.px-col {
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.tv-step {
  position: relative;
}

.tv-steps > .tv-step:not(:first-child)::before {
  content: "";
  background-color: $gray-mid;
  display: inline-block;
  position: absolute;
  height: 25px;
  width: 1px;
  z-index: -1;
  left: 30px;
  top: -24px;
}
