@import '../../../variables';

.tv-step__number {
  width: 32px;
  height: 32px;
  color: $blue;
  display: inline-block;
  border-color: $gray-mid;
  border-width: 1px;
  line-height: 32px;
  border-style: solid;
  border-radius: 50%;
  text-align: center;
  background-color: white;
  z-index: 3;
  flex-basis: 32px;
  flex-shrink: 0;
}

.tv-step__title {
  display: flex;
  align-items: center;

  &--completed {
    & .tv-step__number {
      vertical-align: middle;
      background: white url('done.svg') center center no-repeat;
      background-size: 24px;
    }
  }

  &--active {
    & .tv-step__number {
      color: $blue;
      background-color: rgba(5, 147, 252, 0.24);
      border: none;
    }
  }

  & > span.h2 {
    vertical-align: middle;
  }
}
