.tv-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vw;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 999;

  background-color: #ffffff;
  &__content {
    background-color: #ffffff;
  }
}

.header {
  font-family: Roboto;
  font-size: 36px;
  font-weight: 500;
  line-height: 0.92;
  text-align: left;
  color: #2a2c2e;
}

p {
  font-family: Roboto;
  font-size: 20px;
  line-height: 1.5;
  text-align: left;
  color: #2a2c2e;
}

.form-header {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.56;
  color: #303030;
  color: var(--text-primary);
}

.calculator-from {
  border-radius: 8px;
  background-color: #fcf492;
  padding: 25px;
}

tbody {
  background-color: #fefbda;
  box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.12);
}

td {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  color: #303030;
  color: var(--text-primary);
}

.output-amount {
  font-family: Roboto;
  font-size: 32px;
  font-weight: 500;
  line-height: 1.03;
  color: #2a2c2e;
}

.old-fund-fees {
  color: #f72f00 !important;
  color: var(--red);
}

.new-fund-total {
  color: #12cd3e !important;
  color: var(--red);
}