{
  "extends": ["airbnb", "plugin:prettier/recommended"],
  "env": {
    "browser": true,
    "jest": true
  },
  "rules": {
    "react/jsx-filename-extension": 0,
    "react/no-array-index-key": 0,
    "import/no-extraneous-dependencies": 0,
    "import/no-named-as-default": 0,
    "linebreak-style": 0,
    "no-use-before-define": 0,
    "import/prefer-default-export": 0
  }
}