@import '../../../variables';

.btn-payment {
  &.active {
    font-weight: 500;
  }
}

.btn.btn-swedbank,
.btn.btn-swedbank:hover {
  background-color: white;
  border-color: #dd3300;
  color: #dd3300;
}

.btn.btn-swedbank:not(:disabled):not(.disabled):active,
.btn.btn-swedbank:not(:disabled):not(.disabled).active {
  background-color: #dd3300;
  border-color: #dd3300;
  color: white;
}

.btn.btn-seb,
.btn.btn-seb:hover {
  background-color: white;
  border-color: #008a00;
  color: #008a00;
}

.btn.btn-seb:not(:disabled):not(.disabled):active,
.btn.btn-seb:not(:disabled):not(.disabled).active {
  background-color: #008a00;
  border-color: #008a00;
  color: white;
}

.btn.btn-lhv,
.btn.btn-lhv:hover {
  background-color: white;
  border-color: #4a4e5a;
  color: #4a4e5a;
}

.btn.btn-lhv:not(:disabled):not(.disabled):active,
.btn.btn-lhv:not(:disabled):not(.disabled).active {
  background-color: #4a4e5a;
  border-color: #4a4e5a;
  color: white;
}

.btn.btn-luminor,
.btn.btn-luminor:hover {
  background-color: white;
  border-color: #481335;
  color: #481335;
}

.btn.btn-luminor:not(:disabled):not(.disabled):active,
.btn.btn-luminor:not(:disabled):not(.disabled).active {
  background-color: #481335;
  border-color: #481335;
  color: white;
}

.btn.btn-coop,
.btn.btn-coop:hover {
  background-color: white;
  border-color: #0078d2;
  color: #0078d2;
}

.btn.btn-coop:not(:disabled):not(.disabled):active,
.btn.btn-coop:not(:disabled):not(.disabled).active {
  background-color: #0078d2;
  border-color: #0078d2;
  color: white;
}

.btn.btn-other:not(:disabled):not(.disabled):active,
.btn.btn-other:not(:disabled):not(.disabled).active {
  background-color: $blue;
  border-color: $blue;
  color: white;
}

.payment-details {
  border: 1px solid $card-border-color;
  border-radius: 0.5rem;
}

.payment-details-table {
  background-color: $blue-bg-2;
  border-radius: 0.25rem;
  margin-left: -3rem !important;

  .row {
    padding: 0.75rem;
    border-bottom: 1px solid $gray-border-2;

    &:last-child {
      border-bottom: none;
      margin-bottom: 0 !important;
    }
  }
}
