@import '../../../variables';

.container {
  padding: 1.5rem;
  border-radius: 8px;
  border: 1px solid $gray-border-3;
  background: $gray-bg-1;
}

.stepDivider {
  width: 24px;
  height: 1px;
  background: $gray-border-3;
  margin: 0 8px;
}
@media (max-width: 767.98px) {
  .stepDivider {
    width: 1px;
    height: 16px;
    margin: 4px 15.5px;
  }
}
