.tv-target-fund {
  border-radius: 8px;
  background-color: white;
  border: solid 1px #cccccc;
  cursor: pointer;
  transition: border-color .15s ease-out;

  &__inner-container {
    border-style: solid;
    border-width: 1px;
    width: 100%;
    border-color: transparent;
  }

  &__title {
    font-size: 16px;
    font-weight: 600;
  }

  &__description {
    font-size: 14px;
  }

  &__container {
    align-items: baseline;
  }

  &--active {
    border: solid 2px #0593fc;

    & .tv-target-fund__inner-container {
      border-width: 0;
    }
  }
}
