.Collapsible__trigger {
  .btn {
    width: 200px;
  }
}

.Collapsible__contentInner {
  margin-top: 10px;
}

.swed {
  background-color: #ee7023;
  color: white;
  border-color: #ee7023;
}


.swed:hover, .swed:active {
  background-color: #de6924;
  border-color: #de6924;
  color: white;
}

.seb {
  background-color: #5dcb15;
  border-color: #5dcb15;
  color: white;
}

.seb:hover, .seb:active {
  background-color: #47b102;
  border-color: #47b102;
  color: white;
}

.lhv {
  background-color: #2a2c2e;
  border-color: #2a2c2e;
  color: white;
}

.lhv:hover, .lhv:active {
  background-color: #4a4c4e;
  border-color: #4a4c4e;
  color: white;
}