@import '../../../variables';

.status-box-row {
  padding: 0.75em 0;
}

.status-box-row li {
  list-style: none;
  padding-top: 0.125em;
}

.status-box-icon {
  padding-top: 0.2em;
}

.status-box-row ul {
  padding: 0;
  margin-bottom: 0;
}

.status-box-row .btn {
  min-width: 161px;
}

.fa.fa-fw {
  font-size: 1.25em;
}
.fa.fa-check {
  color: $green;
}

.fa.fa-times {
  color: $red;
}

.fa.fa-exclamation-triangle {
  color: $yellow-dark;
}

.fa.fa-exclamation-circle {
  color: #f8af18;
}
