@import '../../../variables';

.status-box-row li {
  list-style: none;
}

.status-box-row ul {
  padding: 0;
  margin-bottom: 0;
}

.status-box-row .btn {
  min-width: 161px;
}

.fa.fa-check {
  color: $green;
}

.fa.fa-times {
  color: $red;
}

.fa.fa-exclamation-triangle {
  color: $yellow-dark;
}
