@mixin shimmerWithColor($shimmer-color: #f6f7f8, $shimmer-color2: #edeef1) {
  display: block;
  width: 100%;
  background: linear-gradient(
      to right,
      $shimmer-color 0%,
      $shimmer-color2,
      $shimmer-color 40%,
      $shimmer-color 100%
  ) no-repeat;
  background-size: 800px 104px;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: shimmer-animation;
  animation-timing-function: linear;
}

@keyframes shimmer-animation {
  0% {
    background-position: -800px 0;
  }
  100% {
    background-position: 800px 0;
  }
}

.shimmerDefault {
  @include shimmerWithColor;
}

