@import '../../variables';

.stepDivider {
  height: 1px;
  background: #dee2e6;
  margin: 0 8px;
  max-width: 24px;
  flex-grow: 1;
}

.successText {
  color: #00ac00;
}

.warningText {
  color: $orange;
}

.mandateSubheading {
  color: $blue;
  text-transform: uppercase;
  font-size: $font-size-small;
}

.mandateHeading {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;
}

.pillarSelectionContainer {
  font-size: 1.25rem;

  .tv-radio {
    line-height: 2rem;
  }
}

.singleWithdrawalAmountInputContainer {
  min-width: 10em;
  margin-left: 1em;
}

.doneAlert {
  background: #eef7fd;
  border-radius: 16px;
  padding: 1.75em;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #002f63;
  text-align: center;

  h3 {
    color: #002f63;
  }
}
