@import '../../variables';

.successText {
  color: #00ac00;
}

.warningText {
  color: $orange;
}

.mandateSubheading {
  color: $blue;
  text-transform: uppercase;
  font-size: $font-size-small;
}

.mandateHeading {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;
}

.pillarSelectionContainer {
  font-size: 1.25rem;

  .tv-radio {
    line-height: 2rem;
  }
}
