@import '../../variables';

.stepDivider {
  width: 1.5rem;
  height: 1px;
  background: $card-border-color;
  margin: 0 0.5rem;
}
@media (max-width: 767.98px) {
  .stepDivider {
    width: 1px;
    height: 1rem;
    margin: 0.25rem 1rem;
  }
}

.successText {
  color: $text-green;
}

.mandateSubheading {
  color: $blue;
  text-transform: uppercase;
  font-size: $font-size-small;
}

.mandateHeading {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: $font-weight-semibold;
}

.pillarSelectionContainer {
  font-size: 1.25rem;

  .tv-radio {
    line-height: 2rem;
  }
}

.pillarSelectionContainerWarning {
  background-color: $note-bg;
  padding: 1em 1.25em;
  font-size: 0.75em;
  text-align: center;
  border-bottom: 1px solid $card-border-color;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.singleWithdrawalAmountInputContainer {
  min-width: 10em;
}
@media (max-width: 767.98px) {
  .singleWithdrawalAmountInputContainer {
    width: 100% !important;
  }
}

.doneAlert {
  background: $blue-bg-2;
  border-radius: 1rem;
  padding: 1.75em;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $navy-blue;
  text-align: center;

  h3 {
    color: $navy-blue;
  }
}
