@import '../variables';

#dev-offcanvas {
  transition: none;
}

.offcanvas-title {
  line-height: 1.3333;
}

.dev-sidebar-toggle {
  color: $text-secondary;

  &:hover,
  &:focus-visible {
    color: $text-primary;
  }
}
