// Layout

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  // override for xl breakpoint
  xl: 960px,
  // override for xxl breakpoint
  xxl: 960px,
);

$container-padding-x: 2rem;
$grid-gutter-width: 2rem;

$spacer: 1rem !default;
$spacers: (
  0: 0,
  1: (
    $spacer * 0.25,
  ),
  2: (
    $spacer * 0.5,
  ),
  3: $spacer,
  4: (
    $spacer * 1.5,
  ),
  5: (
    $spacer * 3,
  ),
  6: (
    $spacer * 6,
  ),
) !default;

// Links

$link-underline-opacity: 25% !default;
$link-underline-offset: 0.125em !default;
$link-underline-thickness: 0.0625em !default;

$icon-link-gap: 0.25em;
$icon-link-underline-offset: $link-underline-offset;

// Colors

$black: #000;
$white: #fff;

$navy-blue: #002f63;
$bright-blue: #00aeea;

$red: #db2200;
$red-light: #ff4614;
$green: #008300;
$green-light: #00a100;
$blue: #006ce6;
$blue-light: #00aeea;

$yellow: #fce228;

$note-bg: #fff6d9;
$note-border: #faeed0;

$text-primary: #293036;
$text-secondary: #6b7074;
$text-tertiary: #8a8d91;

$text-navy: #002f63;
$text-navy-secondary: #5c738c;
$text-navy-tertiary: #7d8fa3;

:root {
  --red: #{$red};
  --green: #{$green};
  --blue: #{$blue};

  --gray-bg-1: #fafbfc;
  --gray-bg-2: #f5f7f9;
  --gray-border-1: #e0e6ec;
  --gray-border-2: #d6dee6;
  --gray-border-3: #c8d0d8;

  --blue-bg-1: #f2fafe;
  --blue-bg-2: #edf7fd;
  --blue-border-1: #d3e8f5;
  --blue-border-2: #c9e0ee;
  --blue-border-3: #bad2e4;

  --gray-border-hc: #bac2ca;
  --blue-border-hc: #a8c2d7;

  --input-border-color: var(--gray-border-3);
  --input-border-color-hc: #{$text-navy-tertiary};

  --bs-border-color: var(--gray-border-3);
  --bs-card-border-color: var(--gray-border-2);

  --bs-box-shadow-sm: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);

  --box-shadow-dropdown: 0 0 0 1px rgba(0, 0, 0, 0.04), 0 1px 2px 0 rgba(0, 0, 0, 0.04),
    0 4px 8px 0 rgba(0, 0, 0, 0.04), 0 12px 24px 0 rgba(0, 0, 0, 0.08);

  --box-shadow-calculator: 0 0 0 1px rgba(0, 0, 0, 0.02), 0 1px 3px 0 rgba(0, 0, 0, 0.04),
    0 3px 9px 0 rgba(0, 0, 0, 0.04), 0 6px 18px 0 rgba(0, 0, 0, 0.04);

  --box-shadow-hc: 0 0 0 1px rgba(0, 0, 0, 0.25);
}

.table {
  --bs-table-border-color: var(--gray-border-2);
}

$body-color: $text-primary !default;

$text-green: $green;
$text-red: $red;
$text-blue: $blue;
$text-navy: $navy-blue;

$gray-bg-1: var(--gray-bg-1) !default;
$gray-bg-2: var(--gray-bg-2) !default;
$gray-border-1: var(--gray-border-1) !default;
$gray-border-2: var(--gray-border-2) !default;
$gray-border-3: var(--gray-border-3) !default;

$blue-bg-1: var(--blue-bg-1) !default;
$blue-bg-2: var(--blue-bg-2) !default;
$blue-border-1: var(--blue-border-1) !default;
$blue-border-2: var(--blue-border-2) !default;
$blue-border-3: var(--blue-border-3) !default;

$table-color: $text-primary;
$text-body-primary: $text-primary;
$text-body-secondary: $text-secondary;
$text-body-tertiary: $text-tertiary;

// Borders

$border-color: var(--gray-border-3) !default;
$input-border-color: var(--input-border-color) !default;
$card-border-color: var(--gray-border-2) !default;
$form-check-input-focus-border: $blue !default;
$input-focus-border-color: $blue !default;
$table-border-color: var(--gray-border-2) !default;

$border-radius-xxl: 1.5rem;

$border-radius: 0.375rem;
$border-radius-sm: 0.25rem;
$border-radius-lg: 0.5rem;
$border-radius-xl: 1rem;
$border-radius-xxl: 1.5rem;

$card-border-radius: $border-radius-lg;

// Buttons

$btn-padding-x: 1em !default;
$btn-font-weight: 450 !default;
$btn-white-space: nowrap !default;

// Form controls

$form-range-thumb-width: 1.5rem !default;
$form-range-thumb-border-radius: 100% !default;

// Font Awesome
// Taimar: delete?
$fa-font-path: '~font-awesome/fonts';

// Typography

$font-family-sans-serif: 'Roboto', 'Segoe UI', 'Helvetica Neue', Arial, sans-serif !default;
$font-family-serif: 'Merriweather', Georgia, 'Times New Roman', Times, serif !default;
$font-family-system: system-ui, sans-serif !default;
$font-family-monospace: Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace !default;
$font-family-base: $font-family-sans-serif !default;

$font-size-small: 0.875em;
$font-size-base: 1rem;
$font-size-lead: 1.25em;

$h1-font-size: 1.75rem !default; // 32
$h2-font-size: 1.5rem !default; // 24
$h3-font-size: 1.25rem !default; // 20
$h4-font-size: 1.125rem !default; // 18
$h5-font-size: 1.125rem !default; // 18
$h6-font-size: 1.125rem !default; // 18

$h1-line-height: 1.2857; // 36
$h2-line-height: 1.3333; // 32
$h3-line-height: 1.4; // 28
$h4-line-height: 1.3333; // 24
$h5-line-height: 1.3333; // 24
$h6-line-height: 1.3333; // 24

$font-weight-lighter: lighter;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-bolder: bolder;
$font-weight-base: $font-weight-normal;
