@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/breakpoints";

.tv-percentage-selector {
  max-width: 100%;
  @include media-breakpoint-up(sm) {
    max-width: 100px;
  }
  position: relative;

  .form-control {
    border-bottom-right-radius: 4px !important;
    border-top-right-radius: 4px !important;
    z-index: 0 !important;
  }

  &:hover .tv-percentage-selector__addon {
    z-index: 2;
  }

  &__addon {
    position: absolute;
    z-index: 2;
    right: 0;
    font-size: 1rem;
    line-height: 1.25;
    padding: 0.5rem 0.75rem;
    cursor: text;
  }
}
