@import '../../variables';

.table-container {
  width: 100%;
}

.table {
  width: auto !important;
  max-width: none !important;
  margin-right: -15px;
  margin-left: -15px;
  margin-bottom: 15px;
}

.table th {
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 0.8em;
  background-color: $gray-washed;
  border-top-width: 1px;
  border-top-style: solid;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: $gray-mid;
  white-space: nowrap;
  color: darkgray;
}

.table tbody {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-color: $gray-mid;
}

.table tfoot td:last-child,
.table tfoot td:first-child {
  font-weight: bold;
}

.table td {
  text-align: right;
}

.table td:first-child {
  text-align: left;
}

th:last-child {
  text-align: right;
}

