@import '../../variables';
@import '~bootstrap/scss/bootstrap.scss';

.table-container {
  width: 100%;
}
.table td:not(:first-child),
.table th:not(:first-child) {
  text-align: right;
}
.table thead td,
.table thead th {
  font-weight: $font-weight-medium;
}
.table tr > :first-child {
  padding-left: 0;
}
.table tr > :last-child {
  padding-right: 0;
}
.table tfoot td:first-child,
.table tfoot td:last-child,
.table tfoot th:first-child,
.table tfoot th:last-child {
  font-weight: $font-weight-bold;
}

@media (min-width: 992px) {
  .table thead td,
  .table thead th {
    white-space: nowrap;
  }
}
