@import '../../variables';

.table-container {
  width: 100%;
}
.table td:not(:first-child),
.table th:not(:first-child) {
  text-align: right;
}

/* test without our custom styles

.table {
  width: auto !important;
  max-width: none !important;
  margin-bottom: 15px;
}

.table th {
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 0.8125em;
  background-color: $gray-bg-1;
  border-top-width: 1px;
  border-top-style: solid;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: $gray-border-3;
  color: $text-body-secondary;
  @include not-mobile {
    white-space: nowrap;
  }
}

.table tbody {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-color: $gray-border-3;
}

.table tfoot td:last-child,
.table tfoot td:first-child {
  font-weight: bold;
}

.table td,
.table th {
  text-align: right;
}

.table td:first-child,
.table th:first-child {
  text-align: left;
}
*/
