@import "../../variables";

.text-box {
  background: #fff;
  padding: 30px 30px 10px;
  box-shadow: 0 0 16px 0 rgba(0,0,0,0.12);
  border-radius: 4px;
  // color: #373A3C;

  @include mobile {
	padding: 0;
	padding-bottom: 10px;
	margin-bottom: 24px;
  }

  &--rounder {
	border-radius: 8px;

	@include mobile {
	  border-radius: 0;
	}
  }

  &__title {
	font-family: $font-family-sans-serif;
	line-height: 1;
	margin-top: 0;
	margin-bottom: 40px;

	&--border-lightblue,
	&--border-blue {
	  padding-bottom: 1em;
	  margin-bottom: 30px;
	  border-bottom-width: 4px;
	  border-bottom-style: solid;
	}

	&--border-blue {
	  border-bottom-color: $blue;
	}

	&--border-lightblue {
	  border-bottom-color: $blue-light;
	}

	@include mobile {
	  padding: 24px 30px;
	  text-align: center;
	  font-size: 1.25em;
	  line-height: 1.2;
	  margin-bottom: 0;

	  &--border-lightblue,
	  &--border-blue {
		border: none;
		color: #fff;
		margin-bottom: 40px;
	  }

	  &--border-blue {
		background-color: $blue;
	  }

	  &--border-lightblue {
		background-color: $blue-light;
	  }

	}
  }

  &__content {
	@include mobile {
	  padding-right: 10px;
	  padding-left: 30px;
	}
  }

  ul {
	line-height: 1.5;
	padding-left: 1.2em;

	&[class] {
	  padding-left: 0;
	  margin-bottom: 1.5em;
	}

	li {
	  margin-bottom: 1em;
	}
  }

  p {
	line-height: 1.5;
	margin-bottom: 1.5em;
  }
}

.list-style-checkmark,
.list-style-plussign {
  list-style: none;

  li {
	padding-left: 2em;
	background-repeat: no-repeat;
	background-position: 0 center;

	@include mobile {
	  padding-left: 1.5em;
	  background-position: 0 .5em;
	}
  }
}

.list-style-checkmark li {
  background-image: url('./img/icon-checkmark.svg');
}

.list-style-plussign li {
  background-image: url('./img/icon-plussign.svg');
}
