@import "../variables";

.login-page {
  background: rgba(48, 48, 48, 0.06);
  min-height: 100vh;
  &__not-member {
    font-weight: 500;
    color: $text-primary;
    font-size: 1.3em;
  }
  &__apply {
    text-decoration: underline;
  }
}

.fb-widget {
  overflow: hidden;
}

.tab-list {
  border-bottom: 1px solid #ccc;
  padding-left: 0;
}



.tab-list-item {
  width: 33.33%;
  max-width: 100%;
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
  padding: 0.5rem 0.75rem;
  background: white;
  color: #838383;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@include mobile {
  .tab-list-item { width: 50%; }
}

.tab-list-item:focus {
  outline: none !important;
  outline-offset: none !important;
}

.tab-list-active {
  font-weight: bold;
  background-color: white;
  color: black;
  border: solid #0081ed;
  border-width: 0 0 4px 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
