@import '../../variables';

.doneAlert {
  background: $blue-bg-2;
  border-radius: $border-radius-xl;
  padding: 3rem 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  color: $navy-blue;
  text-align: center;

  h3 {
    color: $navy-blue;
  }
}
