/**
 * Here we lay out base styles, like typography and bootstrap customization.
 */

@import "./fonts/index";
@import "variables";
@import "~bootstrap/scss/bootstrap.scss";

/**
 * Element overrides
 */

body {
  font-size: 18px;
}

h1, .h1 {
  font-size: 2em;
  font-weight: 400;
  color: $text-primary;
}

h2, .h2 {
  font-size: 1.5em;
  font-weight: 400;
  color: $text-primary;
}

h3, .h3 {
  font-size: 1.25em;
  font-weight: 400;
  color: $text-primary;
}

p, .p {
  line-height: 1.44;
  font-size: 1em;
  font-weight: normal;
  color: $text-primary;
}

small {
  font-size: 0.8em;
  color: $text-secondary;
}

.form-control::placeholder {
  color: $text-hint;
}

.text-muted {
  color: $text-secondary;
}

.btn {
  cursor: pointer;
}

.brand-logo {
  max-width: 150px;
}
