@import '../variables';

.addListingContainer {
  padding: 1.5rem;
  border-radius: 8px;
  border: 1px solid $card-border-color;
  background: $gray-bg-1;
}

.warningInput {
  border-color: $red;
}

.warningText {
  color: $red;
}

.submitButtonGroup {
  border-top: 1px solid $card-border-color;
}
