@import '../variables';

.addListingContainer {
  padding: 1.5rem;
  border-radius: 8px;
  border: 1px solid $gray-border-3;
  background: $gray-bg-1;
}

.submitButtonGroup {
  border-top: 1px solid $gray-border-3;
}
