@import '../variables';
@import '~bootstrap/scss/bootstrap.scss';

.container {
  padding: 1.5rem;
  border-radius: 8px;
}


.inputGroup {
  @include media-breakpoint-down(lg) {
    max-width: unset;
  }

  max-width: 200px;
}
